

<html>
	<head>
		<title>Display Board</title>

<meta http-equiv="refresh" content="90" name="viewport" content="width=device-width, initial-scale=1.0">


		<link rel="stylesheet" href="../css/departure-board.css" />
		<link rel="stylesheet" href="../css/styles.css" />
<link rel="stylesheet" href="../css/flapper.css" />
<link rel="stylesheet" href="../css/bootstrap.css" />
<link rel="stylesheet" href="../css/morphext.css" />
<link rel="stylesheet" href="../css/animate.css" />
<script language="JavaScript" type="text/javascript"
src="../js/jquery.min.js"
></script>
<script language="JavaScript" type="text/javascript"
src="../js/bootstrap.min.js"
></script>
		<script language="JavaScript" type="text/javascript" src="../js/jquery.transform-0.9.3.js">
		</script>

		<script language="JavaScript" type="text/javascript" src="../js/jqueryflapper.js">
		</script>
		<script language="JavaScript" type="text/javascript" src="../js/flapdemo.js">
		</script>
		<script language="JavaScript" type="text/javascript" src="../js/morphext.js">
		</script>
		<script language="JavaScript" type="text/javascript" src="../js/jquery.leddisplay.js">
		</script>

	<script language="JavaScript" type="text/javascript">


var d=new Date();
var monthname=new Array("Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct","Nov","Dec");
var TODAY = monthname[d.getMonth()] + " " + d.getDate();

</script>
<script type="text/javascript">

var options = {

horizontalPixelsCount: 90,

verticalPixelsCount: 5,

pixelSize: 5,

disabledPixelColor: '#404040',

enabledPixelColor: 'red',

pathToPixelImage: 'pixel.png',

stepDelay: 40,

// only for canvas

backgroundColor: '#202020',

// only for canvas

pixelRatio: 0.7,

runImmidiatly: true

};
$(function(){
	var options = {
			pixelSize: 10,
			stepDelay: 40,
			horizontalPixelsCount:5,
			verticalPixelsCount:5,
			pixelRatio: 0.8,
			runImmidiatly: false
		};
	$('.crl').leddisplay(options);

	$('.crl').find('div').click(function(){
		if ($(this).css('background-color') == 'rgb(255, 0, 0)')
			$(this).css('background-color', "#404040")
		else
			$(this).css('background-color', 'red')

	});
})
$('.demo-div').leddisplay($.extend(options, {pixelSize: 5}));

</script>

	</head>

	<body style="background-color:black;">



		<center>

				<div class="header">
					<ul class="list">
					<li class="listelement"><a href="/DisplayBoard">
						<img class="logo" src="../img/LCL_White_E.png"/></a></li>

				<li class="listelement" id="txt"> <script language="JavaScript" type="text/javascript">
                        document.write(TODAY);
                    </script></li>

				</ul>



				<ul class="list">




			</ul>




			</div>
<h1 style="font-size: 70px; color:white"><%= data4 %></h1>
</center>
<div style="text-align:center;">

</div>

<div class="center">
	<!--  -->
			<div class="demo-div"> jQueryScript.Net </div>


	<!--  -->
</br>
</br>
   <!-- LumpQty -->
  <div >

    <div>	<input type="text" name="" id='lumpQty' class="M"></div>

  </div>
<div id="rotate">


						<div>	<input type="text" name="" class="S" id='dataForLw'></div>
						<div>	<input type="text" name=""class="S" id='lumpDtl'></div>

						<!-- <div>	<label id='hp_left'></div> -->
						<!-- <div>	<label id='fpp_left'>	</div> -->
						<!-- <div>	<label id='flow_left'>	</div> -->

</div>
 <!-- FreePort -->
<div >

  <div>	<input type="text" name="" id='freePort' class="M"></div>

</div>
<div id="rotate1">

  <div>	<input type="text" class="S" name="" id='hp1'><input class="S" type="text" name="" id='hp_left1'></div>
  <div>	<input type="text" class="S" name="" id='fpp1'><input class="S" type="text" name="" id='fpp_left1'></div>
  <div><input type="text" class="S" name="" id='flow1'><input class="S" type="text" name="" id='flow_left1'></div>
</div>



</div>
		<script language="JavaScript">

		var options={
			chars: null,

  timing: 120,
  min_timing: 10,
	 width: 35,
	align: 'left',
	chars_preset: 'alpha',
	transform: true,
	threshhold: 120,
 };


// Lump Qty



$('#lumpQty').flapper(options).val('LUMP QTY ').change();
				 $('#dataForLw').flapper(options).val('TOTAL TO LUMP : <%= data3 %>').change();


				$('#lumpDtl').flapper(options).val('       LUMPED : <%= data2 %>').change();



        // Freeport


$('#freePort').flapper(options).val('PICKING :').change();
        $('#date1').flapper(options).val(' DATE : <%= data1[0][1] %>').change();


        $('#hp1').flapper(options).val('           HP : <%= data1[0][2] %>').change();


        $('#fpp1').flapper(options).val('          FPP : <%= data1[0][3] %>').change();


        $('#flow1').flapper(options).val('         FLOW : <%= data1[0][4] %>').change();


        $('#hp_left1').flapper(options).val('      HP LEFT : <%= data1[0][5] %>').change();

        $('#fpp_left1').flapper(options).val('     FPP LEFT : <%= data1[0][6] %>').change();

        $('#flow_left1').flapper(options).val('    FLOW LEFT : <%= data1[0][7] %>').change();




		</script>
		<script>
		(function($){
$.fn.extend({
rotaterator: function(options) {

	 var defaults = {
			 fadeSpeed: 100,
			 pauseSpeed: 5200,
child:null
	 };

	 var options = $.extend(defaults, options);

	 return this.each(function() {
				 var o =options;
				 var obj = $(this);
				 var items = $(obj.children(), obj);
 items.each(function() {$(this).hide();})
 if(!o.child){var next = $(obj).children(':first');
 }else{var next = o.child;
 }
 $(next).fadeIn(o.fadeSpeed, function() {
	 $(next).delay(o.pauseSpeed).fadeOut(o.fadeSpeed, function() {
		 var next = $(this).next();
		 if (next.length == 0){
				 next = $(obj).children(':first');
		 }
		 $(obj).rotaterator({child : next, fadeSpeed : o.fadeSpeed, pauseSpeed : o.pauseSpeed});
	 })
 });
	 });
}
});
})(jQuery);

$(document).ready(function() {

  $('#lumpQty').rotaterator({fadeSpeed:1100, pauseSpeed:54200});
  $('#freePort').rotaterator({fadeSpeed:1100, pauseSpeed:54200});

$('#rotate').rotaterator({fadeSpeed:1100, pauseSpeed:5200});
$('#rotate1').rotaterator({fadeSpeed:1100, pauseSpeed:5200});

});
	        </script>



	</body>
</html>
