

<html>
	<head>
		<title>Display Board</title>

<meta  name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/bootstrap.css" />

		<link rel="stylesheet" href="../css/departure-board.css" />




<style type="text/css">
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
		width: 100%;
}
.zui-table thead th {
    background-color: #000000;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFF;
    font-size:28px;
		color: white;
}
.zui-table tbody td {
    border: solid 1px #ffffff;
		background-color: #000000;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #FFF;
    font-size:23px;
			color: white;
			width: auto;
}
.zui-table-vertical tbody td {
    border-top: none;
    border-bottom: none;
}
.zui-table-col-odd {
    background-color: #EEF7EE;
}
.zui-table-col-even {
    background-color: #FFF;
}


/* styling for select dropdown */
select {

	font-size: 20px;
}
</style>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script language="JavaScript" type="text/javascript"
src="../js/bootstrap.min.js"
></script>

	<script language="JavaScript" type="text/javascript">


var p=new Date();
var monthname=new Array("Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct","Nov","Dec");
var TODAY = monthname[p.getMonth()] + " " + p.getDate();

</script>
<script type="text/javascript">
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  });
	$(".slct").on("change", function(val) {
    var value = $(this).val();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  });
});



</script>


	</head>

	<body style="background-color:black;">
    <center>

        <div class="header">
          <ul class="list">
          <li class="listelement"><a href="/DisplayBoard">
            <img class="logo" src="../img/LCL_White_E.png"/></a></li>

        <li class="listelement" id="txt"> <script language="JavaScript" type="text/javascript">
                        document.write(TODAY);
                    </script></li>

        </ul>



        <ul class="list">

<h1 style='font-size:55px;'><%=data2 %></h1>


      </ul>




      </div>
    <h1 style="font-size: 70px; color:white"></h1>
    </center>


		<div class="container">

      <table id='myTable' class="zui-table zui-table-vertical col-lg-12">
  <colgroup>
			<% for(var i = 0; i < data3.length; ++i) {%>
				<% if(i==0){ %>
      <col class="zui-table-col-even"></col>
				<% } %>
				<% if(i%2==0){ %>
				<col class="zui-table-col-odd"></col>
				<% } %>
				<% if(i%2!==0){ %>
				<col class="zui-table-col-even"></col>
				<% } %>
			<% } %>


  </colgroup>



<input id="myInput" type="text" placeholder="Search..">
	<thead>
      <tr>



<td>
	<select class='slct'  >

	<% for(var i = 0; i < data5.length; ++i) {%>
			  <option value="<%=data5[i]%>"><%=data5[i]%></option>
	<% } %>
</select>
</td>
<td>
	<select class='slct'  >

	<% for(var i = 0; i < data6.length; ++i) {%>
			  <option value="<%=data6[i]%>"><%=data6[i]%></option>
	<% } %>
</select>
</td>
<td>
	<select class='slct'  >

	<% for(var i = 0; i < data7.length; ++i) {%>
			  <option value="<%=data7[i]%>"><%=data7[i]%></option>
	<% } %>
</select>
</td>
<td>
	<select class='slct'  >

	<% for(var i = 0; i < data4.length; ++i) {%>
			  <option value="<%=data4[i]%>"><%=data4[i]%></option>
	<% } %>
</select>
</td>
<td>
	<select class='slct'  >

	<% for(var i = 0; i < data8.length; ++i) {%>
			  <option value="<%=data8[i]%>"><%=data8[i]%></option>
	<% } %>
</select>
</td>
<td>
	<select class='slct'  >

	<% for(var i = 0; i < data9.length; ++i) {%>
			  <option value="<%=data9[i]%>"><%=data9[i]%></option>
	<% } %>
</select>
</td>
      </tr>















  </thead>





  <tbody >

    <% for(var i = 0; i < data1.length; ++i) {%>

    <tr>
			<% for(var j = 0; j < data3.length; ++j) {%>

				<% if(data3[j].dbType == 12){%>
					<% var d = new Date(); %>
					<% d.setTime(data1[i][j]); %>
					<% if(d.setTime(data1[i][j]) == ''){%>
			<td  > </td>
			<% } else { %>
				<td  ><%= d.toDateString() ;%> </td>
			<% } }else { %>

			<td><%=data1[i][j]%></td>
			<% } %>

  <% } %>
       </tr>

  <% } %>
    </tbody>
</table>



</div>




	</body>
</html>
