
<html>
	<head>
		<title>Display Board</title>
		<meta http-equiv="refresh" content="180"/>


<meta  name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.css" />

		<link rel="stylesheet" href="/css/departure-board.css" />




<style type="text/css">


.zui-table {
    border: solid 1px #FFFFFF;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
		text-align:center;
		clear:both;
		position:center;
		margin-left:auto;
		margin-right:auto;
}

.zui-table thead th {
    background-color: #000000;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFF;
    font-size:24px;
		color: white;
}
.zui-table tbody td {
    border: solid 1px #ffffff;
		background-color: #000000;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #FFF;
    font-size:20px;
			color: white;
			width: auto;
}
.zui-table-vertical tbody td {
    border-top: none;
    border-bottom: none;
}
tr:hover{
 background:white;
}
.zui-table tr:hover td{
			background-color: white;
			color: black;
}




</style>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script language="JavaScript" type="text/javascript"
src="/js/bootstrap.min.js"
></script>

	<script language="JavaScript" type="text/javascript">


var p=new Date();
var monthname=new Array("Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct","Nov","Dec");
var TODAY = monthname[p.getMonth()] + " " + p.getDate();

</script>
<script src="../js/jquery.min.js" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!-- Optional theme -->


<script type="text/javascript">
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  });
	$(".slct").on("change", function(val) {
    var value = $(this).val();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  });
});



</script>


	</head>

	<body style="background-color:black;">
		<center>

				<div class="header">
					<ul class="list">
					<li class="listelement"><a href="/DisplayBoard/RoutedButNotReally">
							<img class="logo" src="/img/LCL_White_E.png"/></a></li>

				<li class="listelement" id="txt"> <script language="JavaScript" type="text/javascript">
												document.write(TODAY);
										</script></li>

				</ul>



				<ul class="list">

<h1 style='font-size:55px;'><%=data2 %></h1>


			</ul>




			</div>
		<h1 style="font-size: 50px; color:white"><%=data3%></h1>
		</center>



      <table  class="zui-table zui-table-vertical" >





				<thead>
				    <tr>

							<th>Group Type</th>
							<th>Total Tasks</th>
						  <th>Hold</th>
						  <th>RLSD_UNASSIGNED </th>

				    <th>RLSD_UNASSIGNED_HOT</th>
						<th>RLSD_UNASSIGNED_NOT_HOT </th>
						<th>RLSD_ASSIGNED</th>
						<th>RLSD_ASSIGNED_HOT</th>
						<th>RLSD_ASSIGNED_NOT_HOT</th>
						<th>Eligible</th>
				    </tr>
				  </thead>
				<tbody id='myTable'>

				<% for(var j = 0; j < data1.length; ++j) {%>
				<tr>

					<td><%=data1[j].grpType%></td>
				<td><%=data1[j].totalTasks%></td>

				<td><%=data1[j].hold%></td>
				<td><%=data1[j].unAssigned%></td>
				<td><%=data1[j].unAssignedHot%></td>
				<td><%=data1[j].unAssignedNotHot%></td>
			<td><%=data1[j].Assigned%></td>

			<td><%=data1[j].AssignedHot%></td>
			<td><%=data1[j].AssignedNotHot%></td>


				<td><%=data1[j].Eligible%></td>

				 </tr>
				<% } %>

				</tbody>
</table>








	</body>
</html>
